h1, h2, h3 {
    font-family: 'Exo', sans-serif;
}
  
  p, span, a {
    font-family: 'Ubuntu', sans-serif;
  }

  .hello {
    display: none;
  }

  .bye {
    display: block;
  }

@media (min-width: 1024px) {
    .project {
        width: 30%;
    }
}

@media (min-width: 595px) and (max-width: 1023px) {
    .project {
        width: 40%;
    }
}

@media (max-width: 594px) {
    .filter-btns {
      flex-wrap: wrap;
    }
    
    .filter-btn {
      margin-right: 6%;
      margin-bottom: 4%;
    }
  
    .projects-container {
        flex-direction: column;
    }

    .project {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}