.main-container {
    position: absolute;
    left: 25%;
    /* overflow-y: hidden; */
}
/* .tech-container {
    width: 600px;
    height: 600px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    bottom: 15%;
    left: 30%;
    animation: move 30s linear infinite;
    transform: rotate(0deg);
} */

.profile-pic {
    /* position: relative;
    left: 30%;
    top: -40%; */
    width: 35%;
}

.intro-container {
    text-align: center;
    position: relative;
    left: 30%;
}

.intro__text {
    position: relative;
    top: 0px;
}

.tech-container {
    width: 500px;
    height: 500px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    bottom: -12%;
    left: 35%;
    animation: move 30s linear infinite;
    transform: rotate(0deg);
}

.tech-container h1 {
    position: relative;
    width: 100%;
    text-align: center;
    transform-origin: center;
    animation: rotate 30s linear infinite;
    z-index: 1;
}

.tech-container h1:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(360deg);
}

.tech-container h1:nth-child(2) {
    top: 15%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.tech-container h1:nth-child(3) {
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.tech-container h1:nth-child(4) {
    top: 80%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.tech-container h1:nth-child(5) {
    top: 55%;
    left: -40%;
    transform: translate(-50%, -50%);
}

.tech-container h1:nth-child(6) {
    top: 5%;
    left: -50%;
    transform: translate(-50%, -50%);
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* @media (min-width: 1800px) {
    .tech-container {
        bottom: 10%;
    }
} */

@media (min-width: 1600px) and (max-width: 1799px) {
    /* .tech-container {
        bottom: 16%;
        left: 34%;
    } */

    .tech-container h1:nth-child(2) {
        left: 41%;
    }

    .tech-container h1:nth-child(3) {
        left: 44%;
    }

    .tech-container h1:nth-child(4) {
        top: 74%;   
    }

    .tech-container h1:nth-child(5) {
        left: -35%;
    }

    .tech-container h1:nth-child(6) {
        left: -44%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .main-container {
        left: 15%;
    }

    .tech-container {
        width: 400px;
        height: 400px;
        left: 43%;
        bottom: 5%
    }

    .intro__text {
        top: 20%;
      }
}

@media (max-width: 1199px) and (min-width: 1024px) {
    .main-container {
        left: 10%;
    }

    .profile-pic {
        left: 25%;
        bottom: 10%;
    }

    .tech-container {
        bottom: 24%;
        left: 51%;
    }
}

@media (max-width: 1023px) and (min-width: 769px) {
    /* .intro-container {
        left: -12%
    } */

    .intro__text {
        top: 45px;
    }

    .profile-pic {
        width: 23%;
    }

    .tech-container {
        bottom: 12%;
        left: 10%;
    }
}
@media (max-width: 768px) and (min-width: 595px) {
    /* .intro-container {
        left: -11%;
    } */

    .intro__text {
        top: 60px;
    }
    
    .profile-pic {
        width: 24%;
    }
    
    .tech-container {
        bottom: 6%;
        left: 5%;
    }

    .tech-modal {
        top: 14%;
        left: 15%;
        width: 64%;
    }
}

@media (max-width: 594px) and (min-width: 421px) {
    /* .intro-container {
        left: -12%;
    } */

    .intro__text {
        top: 85px;
    }

    .profile-pic {
        width: 30%;
    }

    .tech-container {
        bottom: 0%;
        left: -10%;
    }
}

@media (max-width: 1023px) {
    .intro-container {
        left: -12%;
    }
}

@media(min-width: 360px) and (max-width: 1024px) {    
    .tech-container {
        width: 300px;
        height: 300px;
    }

    .tech-container h1 {
        font-size: 1.25em;
    }

    .tech-container h1:nth-child(1) {
        top: -3%;
        left: 14%;
    }

    .tech-container h1:nth-child(2) {
        top: 30%;
    }

    .tech-container h1:nth-child(3) {
        left: 28%;
    }

    .tech-container h1:nth-child(4) {
        top: 51%;
        left: -17%;
    }

    .tech-container h1:nth-child(5) {
        top: 10%;
        left: -47%;
    }

    .tech-container h1:nth-child(6) {
        top: -40%;
        left: -34%;
    }
}

@media (min-width: 360px) and (max-width: 420px) {
    .profile-pic {
        width: 38%;
    }

    .tech-container {
        left: -48px;
        bottom: 0%;
    }

    .intro__text {
        top: 85px;
    }

    .profile-pic {
        width: 30%;
    }
}